* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  font-family: 'poppins', sans-serif;
  background: #fafafa;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  border-bottom: 1px solid #999;
  padding: 10px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

.search-box {
  width: 500px;
  height: 40px;
  display: flex;
}

#search-input {
  width: 460px;
  height: 100%;
  background: #fafafa;
  border: 1px solid #999;
  padding: 10px;
  text-transform: capitalize;
}

.search-btn {
  background: #fff;
  cursor: pointer;
  border: 1px solid #999;
  border-left: none;
  padding: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.activity-log {
  position: relative;
  height: 25px;
}

.activity-container {
  width: 350px;
  height: auto;
  max-height: 300px;
  position: absolute;
  top: 200%;
  right: 0;
  background: #fff;
  border: 1px solid #999;
}

.activity-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.activity-card:hover {
  background: #fafafa;
}

.activity-container.hide {
  pointer-events: none;
  opacity: 0;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.activity {
  width: 200px;
  font-size: 1rem;
}

.activity-post {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
