{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
    <title>Insta-clone : Log-in</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active">Log In</h2>

        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="https://res.cloudinary.com/husseincloud/image/upload/v1654285390/hz7a08c74kynhnx24lwd.png"
            id="icon"
            alt="User Icon"
            style="width: 110px; height: 110px; border-radius: 50%"
          />
        </div>

        <!-- Login Form -->
        <form action="" method="POST">
          {% csrf_token %}
          <input
            type="email"
            id="login"
            class="fadeIn second"
            name="email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="password"
            required
          />
          <input
            type="submit"
            class="fadeIn fourth"
            value="Log In"
            style="margin-top: 20px"
          />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter2" style="margin-top: -27px">
          {% if messages %} {% for message in messages %}
          <p class="messages" style="color: #e75050">{{ message }}</p>
          {% endfor %} {% endif %}
        </div>
        <div id="formFooter">
          <p>
            Create Account?
            <a class="underlineHover" href="{% url 'registerPage' %}"
              >Register now</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
