{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socialize : Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user.css' %}" />
  </head>

  <body>
    {%load cloudinary%}
    <!-- navbar -->
    <nav class="navbar">
      <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
      <form class="search-box">
        <input
          type="text"
          placeholder="search"
          name="search-query"
          id="search-input"
        />
        <button class="search-btn" type="submit">
          <img
            src="{% static 'img/icon/search.png' %}"
            class="search-icon"
            alt=""
          />
        </button>
      </form>
      <div class="nav-links">
        <a href="/" class="nav-links"
          ><img
            src="{% static 'img/icon/home-fill.png' %}"
            class="nav-icon"
            alt=""
        /></a>
        <div class="activity-log">
          <img
            src="{% static 'img/icon/icons-settings.png' %}"
            class="nav-icon"
            alt=""
          />
          <div class="activity-container hide">
            <div class="activity-card">
              <p class="activity"><b>Profile</b></p>
            </div>
            <div class="activity-card">
              <a href="{% url 'accountSettings' %}"
                ><p class="activity"><b>Settings</b></p></a
              >
            </div>
            <hr />
            <div class="activity-card">
              <a href="{% url 'logout' %}"
                ><p class="activity"><b>Logout</b></p></a
              >
            </div>
          </div>
        </div>
        <a href="#" class="nav-links"
          ><img
            src="{{request.user.image.url}}"
            class="nav-icon user-profile"
            alt=""
        /></a>
      </div>
    </nav>

    <!-- user info -->
    <div class="user-info">
      <img src="{{user.image.url}}" class="user-dp" alt="" />
      <div class="info-container">
        <h1 class="name">{{user.username}}</h1>
        <p class="username">@{{user.username}}</p>
        <p>{{user.bio}}</p>
        <a href="https://www.youtube.com/c/modernweb" class="website-link"
          >https://www.youtube.com/c/modernweb</a
        >
      </div>
      <p class="number-card following-card">2K <span>following</span></p>
      <p class="number-card followers-card">7K <span>followers</span></p>
      <p class="number-card posts-card">200 <span>posts</span></p>
    </div>

    <div class="btn-container">
      <button class="btn follow-btn">follow</button>
      <button class="btn edit-btn">edit page</button>
      <button class="btn logout-btn">logout</button>
    </div>

    <div class="posts-container">
      {% for post in posts %}
      <a href="{% url 'post' post.id %}">
        <div class="post">
          <img src="{{post.image.url}}" class="post-img" alt="" />
          <div class="likes">
            <img
              src="{% static 'img/icon/white-heart.png' %}"
              class="icon"
              alt=""
            />
            <p class="likes-count">{{post.likes}} likes</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/user.js' %}"></script>
  </body>
</html>
