{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socialize : Home Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user.css' %}" />
  </head>

  <body>
    {%load cloudinary%}
    <!-- navbar -->
    <nav class="navbar">
      <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
      <form class="search-box">
        <input
          type="text"
          placeholder="search"
          name="search-query"
          id="search-input"
        />
        <button class="search-btn" type="submit">
          <img
            src="{% static 'img/icon/search.png' %}"
            class="search-icon"
            alt=""
          />
        </button>
      </form>
      <div class="nav-links">
        <a href="/" class="nav-links"
          ><img
            src="{% static 'img/icon/home-fill.png' %}"
            class="nav-icon"
            alt=""
        /></a>
        <div class="activity-log">
          <img
            src="{% static 'img/icon/icons-settings.png' %}"
            class="nav-icon"
            alt=""
          />
          <div class="activity-container hide">
            <div class="activity-card">
              <p class="activity"><b>Profile</b></p>
            </div>
            <div class="activity-card">
              <a href="{% url 'accountSettings' %}"
                ><p class="activity"><b>Settings</b></p></a
              >
            </div>
            <hr />
            <div class="activity-card">
              <a href="{% url 'logout' %}"
                ><p class="activity"><b>Logout</b></p></a
              >
            </div>
          </div>
        </div>
        <a href="#" class="nav-links"
          ><img
            src="{{request.user.image.url}}"
            class="nav-icon user-profile"
            alt=""
        /></a>
      </div>
    </nav>

    <!-- user info -->
    <div class="user-info">
      <img src="{{user.image.url}}" class="user-dp" alt="" />
      <div class="info-container">
        <div
          style="
            display: flex;
            justify-content: flex-start;
            align-items: center;
          "
        >
          <h1 class="name" style="text-transform: lowercase; margin-top: 5px">
            @{{user.username}}
          </h1>
          {% if request.user != user %}
          <button class="btn follow-btn" style="margin-left: 90px">
            follow
          </button>
          {% endif %}
        </div>
        <div
          style="
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
            margin-top: 10px;
          "
        >
          <span><b>4</b> posts</span>
          <span style="margin-left: 13px"><b>3</b> followers</span>
          <span style="margin-left: 13px"><b>6</b> following</span>
        </div>

        <p>{{user.bio}}</p>
        <a href="#" class="website-link"
          >http://127.0.0.1:8000/profile/{{user.username}}/</a
        >
      </div>

      <div class="btn-container">
        {% if request.user == user %}
        <button class="btn edit-btn">edit page</button>
        <button class="btn logout-btn">logout</button>
        {% endif %}
      </div>
    </div>

    <div class="posts-container">
      {% for post in posts %}
      <a href="{% url 'post' post.id %}">
        <div class="post">
          <img src="{{post.image.url}}" class="post-img" alt="" />
          <div class="likes">
            <img
              src="{% static 'img/icon/white-heart.png' %}"
              class="icon"
              alt=""
            />
            <p class="likes-count">{{post.likes}} likes</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/user.js' %}"></script>
  </body>
</html>
